##FRONTEND##

# dependencies
frontend/node_modules/
frontend/coverage/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native
frontend/.kotlin/
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

# Metro
frontend/.metro-health-check*

# debug
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*

# macOS
frontend/.DS_Store
frontend/*.pem

# local env files
frontend/.env*.local

# typescript
frontend/*.tsbuildinfo


##BACKEND##

# Byte-compiled / optimized / DLL files
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class

# C extensions
backend/*.so

# Virtual environments
backend/env/
backend/venv/
backend/.venv/

# Environment variables
backend/.env
backend/.env.*

# Pytest
backend/.pytest_cache/

# Mypy
backend/.mypy_cache/

# Coverage reports
backend/htmlcov/
backend/.coverage
backend/.coverage.*

# Logs and databases
backend/*.log
backend/*.sqlite3

# PyInstaller
backend/dist/
backend/build/
backend/*.spec

# Jupyter Notebooks
backend/.ipynb_checkpoints/

# VSCode
backend/.vscode/

# macOS
backend/.DS_Store


